#tout {
	border : 1px solid #66f;
	background : #cfc;
	width : 50%;
}
h1 {
	font-size : 120%;
	color : white;
	text-align : center;
	border : solid 1px #66f;
	background : #66f;
}
dt {
	font-weight : bold;
	background : #ccf;	
}
.descricours  {
	border : solid 1px #ccf;
	background : #eef;
	margin-right : 30px;
        display: none;
}